In [5]:
import pandas as pd

In [9]:
results = pd.read_csv('results.csv', parse_dates=['date'])

In [15]:
results_fifa = results[results['tournament']== 'FIFA World Cup']

In [49]:
results_fifa['year'] = results_fifa['date'].dt.year

C:\Users\Guilherme Rodrigues\AppData\Local\Temp\ipykernel_9368\451678527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  results_fifa['year'] = results_fifa['date'].dt.year

In [50]:
home_scores = results_fifa[['home_team', 'home_score', 'year']].rename({'home_team':'team', 'home_score':'score'}, axis='columns')
away_scores = results_fifa[['away_team', 'home_score', 'year']].rename({'away_team':'team', 'home_score':'score'}, axis='columns')

In [52]:
scores_fifa = pd.concat([home_scores, away_scores]).reset_index(drop=True).fillna(0)

In [53]:
scores_fifa

           team  score  year
0       Belgium      0  1930
1        France      4  1930
2        Brazil      1  1930
3          Peru      1  1930
4     Argentina      1  1930
...         ...    ...   ...
1923     France      1  2022
1924    Croatia      3  2022
1925    Morocco      2  2022
1926    Morocco      2  2022
1927     France      3  2022

[1928 rows x 3 columns]

In [70]:
scores_fifa_year = scores_fifa.groupby(['team', 'year']).score.sum().unstack().fillna(0).cumsum(axis=1).reset_index()

In [71]:
flags = pd.read_csv('countries-fifa-flags.csv')

In [73]:
scores_fifa_year.merge(flags, left_on='team', right_on='country', how='left').to_csv('fifa-data-viz.csv', index=False)